*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}


html {
  font-family: 'Nunito Sans', sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 0; /* ширина для вертикального скролла */
  height: 0; /* высота для горизонтального скролла */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
}

::-webkit-scrollbar-thumb:hover {
}
